{% extends 'base.html.twig' %}

{% block body %}
    <style>
        form {
            margin-right: 1100px;
            margin-left: 30px;
        }
        h1 {
            margin-left: 30px;
        }
    </style>
    <br>
    <h1>Inscription</h1><br>
    {{ form_start(form) }}
    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': "Nom d\'utilisateur"}}) }} <br>
    {{ form_row(form.email, {'label': 'Adresse Email', 'attr': {'placeholder': "Adresse Email"}}) }}<br>
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': "Mot de passe"}}) }}<br>


    <button type="submit" class="btn btn-secondary"> Inscription </button>
    {{ form_end(form) }}
{% endblock %}

