{% extends 'base.html.twig' %}

{% block title %} Rechercher un film par Année {% endblock %}

{% block body %}
    <style>
        input{
            margin-left: 20px;

        }
    </style>
    <div class="container">
        <br> <br>
        <h1>
            Rechercher un film par Année
        </h1>
        <br>
        <form class="form-inline" method="post" action="{{ path('findbyannee') }}">
            <label for="annee">Saisir l'année du film : </label> <br> <br>
            <input for="annee" id="annee" type="annee" name="annee" class="form-control" min="1920" max="{{ annee_courante }}" value="{{ annee }}" required> <br>
            <input type="submit" value="Rechercher" class="btn btn-secondary">

        </form>
        <div class="mt-3">
            {% if films %}
                <h2>Resultat de recherche avec {{ annee }}</h2>
                <div class="row">
                    {% for film in films %}
                        <div class="col-md-3 my-3">
                            <div class="card h-100">
                                <img src="/tures/{{ film.couverture }}" class="img-thmbnail card-img-top">
                                <div class="card-body">
                                    <h4 class="card-title"> {{ film.titre }}</h4>
                                    <p>
                                        <b>Année :</b> {{ film.annee }}<br>
                                        <b>Durée :</b> {{ film.duree }}<br>
                                        <b>Catégorie :</b> {{ film.categorie.nom }}<br>
                                        <b>Réalisateurs :</b><br>
                                        {% for realisateur in film.realisateurs %}
                                            {{ realisateur.nom }} {{ realisateur.prenom }}<br>
                                        {% endfor %}

                                    </p>

                                </div>

                            </div>

                        </div>

                    {% else %}
                        <h2> il n y'a aucun films dans cette catégorie.</h2>
                    {% endfor %}

                </div>
                {% elseif etat == true %}
                <h3> il n'y a aucun résultat qui correspond à cette année {{ annee }}</h3>
            {% endif %}

        </div>

    </div>

{% endblock %}
